<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stripe</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body >
  <div style="margin: auto">
    <div class="jumbotron"  style="padding:40px; background: url('./image/stripe.png');">
      <h1 style="color:#4896fa;font-size: 112px">Congrats!</h1>
      <p style="font-size: 49px;">Your account is now connected with Stripe. Please Return back to the Soulcial Tab</p>
    </div>
  </div>
</body>
</html>